@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Medium.ttf");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../assets/fonts/Montserrat-Regular.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-SemiBold.ttf");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
  }