@import "../../../styles/partials/variables";
@import "../../../styles/partials/functions";
@import "../../../styles/partials/mixins";

.information__about {
    @include flex($direction:column, $align-items:center);
    width:90%;
    margin:50px auto;

    &--content {
        width:90%;
        margin:auto;
    }

    @include media-query($desktop) {
        @include flex($direction:row, $align-items:center);

        &--content {
            width:45%;
        }
    }
}

.information-head {
    @include fontSize-fontWeight-lineHeight-letterSpacing-textTransform($fontSize: 32, $lineHeight: 24, $fontWeight: $font-bold);
    margin:20px auto;
}

.information-para {
    @include fontSize-fontWeight-lineHeight-letterSpacing-textTransform($fontSize: 16, $lineHeight: 24, $fontWeight: $font-medium);
}