@import "../../../styles/partials/variables";
@import "../../../styles/partials/mixins";

.prevention {
  background-color: $secondary-bg-color;
  overflow-y: scroll;

  &.dark {
    background-color: $primary-bg-dark-color;
    color: $primary-text-dark-color;
  }

  &__list {
    @include flex($direction: column-reverse);
    margin: 50px auto;
  }

  @include media-query($tablet) {
    height: 100vh;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;

    &__list {
      @include flex(
        $direction: row,
        $justify-content: space-between,
        $align-items: center
      );
      width: 90%;
    }

    .reverse {
      @include flex($direction: row-reverse);
    }
  }
}
